<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/books.css}" rel="stylesheet" />
    <title>Recursos</title>
</head>

<body>


    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>

    </div>
<!-- logo with tag -->
<div class="content">
    <h1 style="color:black; padding-top:40px;">
         BIENVENIDO A LA PAGINA DE LIBROS, SOLO PUEDES VER ESTA PÁGINA SI ESTÁS LOGUEADO
    </h1>


</div>
</body>
</head>
    
</body>
</html>