<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/login.css}" rel="stylesheet" />
    <title>login_form</title>
  </head>
  <body>
    <div class="login_form">
        <h1>Log In</h1>
        <form method="post" th:object="${user}" th:action="@{/login/check}">
            <div class="mail">
                <label>Mail</label>
                <input type="email" required placeholder="someone@example.com" th:field="*{mail}">
            </div>
            <div class="mail">
                <label>Password</label>
                <input type="password" required placeholder="Enter Password" th:field="*{password}">
            </div>
            <input type="submit" value="Log In">
        </form>
    </div>
  </body>
</html>
