<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>Register</title>
  </head>
  <body>
    <div class="login_form">
        <h1>Register</h1>
        <form method="post" th:action="@{/proccess_register}" th:object="${user}">
            <div class="mail">
                <label>Mail</label>
                <input type="email" th:field="*{mail}" required placeholder="someone@example.com">
            </div>
            <div class="mail">
                <label>Password</label>
                <input type="password" th:field="*{password}" required placeholder="Enter Password">
            </div>
            <div class="mail">
              <label>Full Name</label>
              <input type="text" th:field="*{name}" required placeholder="Enter your full name">
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
  </body>
</html>
