<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <title>Resource</title>
</head>
<body>
    <form th:action="@{getResource}" method="post" th:object="${resource}">
        <label>Name</label>
        <input type="text" th:field="*{name}">
        <label>Type</label>
        <input type="text" th:field="*{type}">
        <label>Capacity</label>
        <input type="number" th:field="*{capacity}">
        <label>Location</label>
        <input type="text" th:field="*{location}">
        <br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>