<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/resources.css}" rel="stylesheet">
    <script th:src="@{/scripts/resources.js}" type="text/javascript"></script>
    <title>Resource</title>
</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="#">Resources</a></h1>
        <ul class="main-nav">
            <li><a href="/resource">Resources</a></li>
            <li><a href="/addResource">Add Resources</a></li>
            <li>
                <form th:action="@{/logout}" method="POST" id="logout">
                    <a onclick="document.getElementById('logout').submit()">Logout</a>
                </form>
            </li>
        </ul>
    </header>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" id="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton" onclick="doSearch()" >
                Go
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <form th:action="@{getResource}" method="post" th:object="${resource}">

        <div class="table-wrapper">
            <table class="fl-table" id="regTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Title</th>
                </tr>
                <tbody>

                <tr th:each="book:${booksList}">
                    <td th:text="${book.id}">${resource.id}</td>
                    <td th:text="${book.author}">${resource.name}</td>
                    <td th:text="${book.title}">${resource.type}</td>
                </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </form>
</body>
</html>